/*navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  margin-right: 120px;
}
.nav-items {
  list-style: none;
  margin-right: 30px;

}
.brand-name{
    margin-left: 120px;
    font-size: 1.5rem;
    font-weight: 700;
}

/*Shared Styles*/

.poppins-font{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.display-flex{
    display: flex;
}
.text-colour1{
    color: #3A3A3A;
}
.btn-primary{
    background-color: #E02C6D ;
    color: white;
    padding: 10px 24px;
    font-size: 1rem;
    border: 0;
    border-radius: 12px;
}

/* Banner Content */
.banner{
  display: flex;
  gap: 130px;
  align-items: center;
}
.banner-content{
    max-width: 582px;
    margin: auto 130px auto;
     text-align: left;
     gap: -5px
     ;

}
.banner-title{
   
    font-size: 3.25rem;
    font-weight: 700;

}
.banner-wrapper {
  position: relative;
  width: 475px;  /* match your circle image width */
  height: 475px; /* match your circle image height */
  margin: 0 auto;
}

.circle-image {
  width: 100%;
  display: block;
}

.main-camera {
  position: absolute;
  
  width: 440px;
   /* adjust size as needed */
  transform: translate(0%, -100%);
}

.links{
    justify-content: space-between;
  align-items: center;
    border: 1px solid gainsboro;
  max-width: 1110px;
}
.links-container img{ 
   
  margin: 165px auto;
  max-width: 1110px;

  justify-content: space-between;
}